<nav class="navbar fixed-top navbar-dark one-edge-shadow" ng-init="init()" >
    <span>
        <a ng-click="showFeatureInProgress()">
            <img class="back-button" src="image/Back.png" />
        </a>
        <span class="navbar-brand mb-0">{{ Title }}</span>
    </span>
    <a ui-sref="search">
        <img class="search-button" src="image/search.png" />
    </a>
</nav>
<div class="container" lazy-scroll="loadMore()" lazy-scroll-trigger="80">
    <div class="row" ng-repeat="rows in ChunkedData track by $index">
        <div class="col-4" ng-repeat="item in rows track by $index" ng-click="showFeatureInProgress()">
            <img ng-src="image/{{ item['poster-image'] }}" onerror="this.src='image/missing_posters.png'" />
            <p>{{ item['name'] }}</p>
        </div>
    </div>
    <div class="row empty-data text-center" ng-if="ChunkedData.length == 0">
        <div class="col">
            <span>No Result Found</span>
        </div>
    </div>
</div>